* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}


h3 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 30px;
  color: #8ECBD8;
}

#about03 h3,
#coin h3,
#roadmap h3 {
  color: #1B5463;
}

img {
  max-width: 100%;
}

@media (min-width:1521px) {
  .container {
    max-width: 1521px;
  }
}




/*헤더*/
header {
  width: 100%;
  height: 75px;
  background: rgba(0, 0, 0, 0.62);
  position: fixed;
  z-index: 999;
}

header .hd_all {
  width: 85%;
  margin: 0 auto;
}

.hd_all hgroup {
  float: left;
}

.hd_all hgroup h1 {
  line-height: 75px;
}

.hd_all hgroup img {
  max-width: 100%;
  transition: all 1s ease-in-out;
}

.hd_all hgroup img:hover {
  transform: rotate(360deg);
}

.hd_all .pc_wrap {
  float: right;
}

.pc_wrap ul li {
  text-align: center;
  line-height: 75px;
  display: inline-block;
  margin-right: 50px;
  font-size: 18px;
}

.pc_wrap ul li:last-child {
  margin-right: 0;
}

.pc_wrap ul li a {
  color: #fff;
  text-decoration: none;
}

/*반응형*/
.hd_all .mob_butt {
  display: none;
  line-height: 75px;
}

.mb_wrap {
  display: none;
  width: 55%;
  height: 400px;
  background-color: #2a7183d8;
  position: absolute;
  right: 0;
  top: 75px;
  padding: 30px 0 0 30px;
}

.mb_wrap ul li a {
  color: #fff;
  display: block;
  margin-bottom: 30px;
}


#home {
  width: 100%;
  height: 980px;
  overflow: hidden;
  position: relative;
}

#home .main_video {
  height: 100%;
  position: relative;
}

.main_video video {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}


#home .main_box {
  z-index: 10;
  position: absolute;
  background: rgba(16, 33, 55, 0.507);
  border-radius: 30px;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 70px;
}


.main_box .main_txt {
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.main_txt h2 {
  font-size: 3.5em;
  color: rgba(99, 236, 234, 1);
}

.main_txt p {
  color: #fff;
  font-size: 1.5em;
  margin-top: 10px;
  font-weight: 600;
}

.main_txt span {
  margin: 10px 0;
  font-size: 18px;
  display: inline-block;
  line-height: 25px;
}

.main_txt .main_bt a {
  display: inline-block;
  width: 25%;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 17px;
  margin-right: 20px;
  background: rgba(149, 198, 198, 1);
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.main_bt a:last-child {
  margin-right: 0;
}

.main_bt a:hover {
  background: rgba(125, 229, 228, 1);
}



#about {
  width: 100%;
  background: url(../img/intro_bg.jpg) no-repeat;
  background-size: cover;
  padding: 80px 0;
}

#about .ab_all {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center
}

.ab_all .ab_txt p {
  color: #fff;
  line-height: 30px;
}



#blockchain {
  width: 100%;
  background: url(../img/ab2_bg.jpg) no-repeat bottom;
  padding: 100px 0;
}

#blockchain .ab2 {
  text-align: center;
}

.ab2 .ab2_txt p {
  color: #fff;
}

.ab2_txt p span {
  font-size: 20px;
  display: inline-block;
  font-weight: 600;
  margin: 10px 0;
}

.ab2_txt p span .mb_br {
  display: none;
}


.ab2_img {
  margin-top: 30px;
}


/* ab3 */
#about03 {
  width: 100%;
  height: 100vh;
  background: url(../img/ab3_bg.jpg) no-repeat center;
  overflow: hidden;
  position: relative;
}

#about03 .about03_area {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  width: 90%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5% 7% 7% 7%;
  border-radius: 30px;
}

#about03 .about03_area .icon_area {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#about03 .about03_area .icon_area ul {
  padding-top: 60px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#about03 .about03_area .icon_area ul li {
  text-align: center;
  width: 50%;
  padding: 60px 0;
  vertical-align: middle;
  align-content: space-between
}

#about03 .about03_area .icon_area ul li img {
  max-width: 30%;
}

#about03 .about03_area .icon_area ul li p {
  display: block;
  padding-top: 20px;
  color: #403F41;
  font-weight: 600;
}

#about03 .about03_area .icon_area img {
  width: 40%;
  margin-top: -40px;
}

/* coin */

#coin {
  width: 100%;
  background: url(../img/coin_bg.png) no-repeat center;
  overflow: hidden;
  position: relative;
  z-index: -2;
  background-size: cover;
}

#coin::after {
  content: "";
  width: 70%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  right: 15%;
  display: block;
  z-index: -1;
  transform: skew(35deg)
}

#coin .coin_area {
  width: 100%;
  padding: 100px 0;
  text-align: center;
  z-index: 3;
}

#coin .coin_area .coin_txt p {
  line-height: 1.8;

}

#coin .coin_area .graph_box {
  display: flex;
}

#coin .coin_area .graph_box .graph_area {
  width: 50%;
  text-align: right;
}

#coin .coin_area .graph_box .graph_area ul.graph {
  padding-top: 50px;
  display: flex;
  justify-content: flex-end;
}

#coin .coin_area .graph_box .graph_area ul.graph li {
  margin-right: 40px;
  position: relative;
}

#coin .coin_area .graph_box .graph_area ul.graph li::after {
  position: absolute;
  content: "";
  width: 1%;
  height: 100%;
  right: -20px;
  top: 0;
  background-color: #000;
}

#coin .coin_area .graph_box .graph_area ul.graph li:last-child::after {
  display: none;
}

#coin .coin_area .graph_box .graph_area ul.graph li h5 {
  font-weight: bold;
}

#coin .coin_area .graph_box .graph_list {
  width: 30%;
  padding-top: 50px;
  margin-left: 100px;
}

#coin .coin_area .graph_box .graph_list ul li {
  line-height: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left !important;
}

#coin .coin_area .graph_box .graph_list ul li span {
  width: 36px;
  height: 36px;
  background-color: #26a2b7;
  display: inline-block;
  border-radius: 5px;
  margin-right: 20px;
}

#coin .coin_area .graph_box .graph_list ul li:nth-child(2) span {
  background-color: #1D3438;
}

#coin .coin_area .graph_box .graph_list ul li:nth-child(3) span {
  background-color: #1C7585;
}

#coin .coin_area .graph_box .graph_list ul li:nth-child(4) span {
  background-color: #64B5C3;
}

#coin .coin_area .graph_box .graph_list ul li:nth-child(5) span {
  background-color: #0C3138;
}

#coin .coin_area .graph_box .graph_list ul li:nth-child(6) span {
  background-color: #3D7A99;
}

#coin .coin_area .graph_box .graph_list ul li:nth-child(7) span {
  background-color: #A1CFE5;
}

#coin .coin_area .graph_box .graph_area img {
  margin-top: 20px;
  max-width: 350px;
}


#roadmap {
  width: 100%;
  background: url(../img/rdmap_bg.png) no-repeat center -140px;
  background-size: cover;
  background-color: #F2F2F2;
  padding: 100px 0 15%;
}

.rdmap_img_mb {
  display: none;
}

.rdmap_wrap {
  width: 100%;
  text-align: center;
}

.rdmap_wrap h3 {

  color: #1B5463;
}

.rdmap_wrap>.rdmap_img {
  width: 90%;
  margin: 80px auto 0;
}

.rdmap_wrap>.rdmap_img>img {
  max-width: 100%;
}




/*contact*/

#contact {
  width: 100%;
  background: url(../img/contact_bg.png) no-repeat center;
  padding: 100px 0;
  text-align: center;
  background-size: cover;
}

.contact_wrap {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 7%;
}

#contact h3 {
  color: #8ECBD8;
}

.contact_left {
  text-align: left;
  width: 40%;
  margin-top: 5%;
}

.cont_left_contents li {
  margin-bottom: 10%;
}

.cont_left_contents li h4 {
  display: inline-block;
  color: #fff;
  font-size: 1.3em;
  font-weight: 600;
}

.cont_left_contents li span img {
  display: inline-block;
  margin-right: 3%;
  max-width: 40%;
}

.cont_left_contents li p {
  color: #fff;
  padding-top: 20px;
  width: 50%;
}


.contact_right {
  width: 35%;
  background-color: #fff;
  border-radius: 10px;
  padding: 3%;
}

.contact_right h5 {
  font-size: 1.2em;
  color: #459FB8;
  font-weight: 700;
  margin-bottom: 5%;
}

form input {
  display: block;
  margin: 0 auto;
  background-color: #EDEDED;
  border: none;
  border-radius: 5px;
}

form input.email {
  width: 80%;
  height: 60px;
  padding: 0 3%;
}

form textarea {
  display: block;
  margin: 7% auto;
  border: none;
  background-color: #EDEDED;
  width: 80%;
  height: 150px;
  padding: 3%;
  border-radius: 5px;
}

form input.send {
  width: 30%;
  height: 40px;
  background-color: #3094B0;
  color: #fff;
  transition: all .3s ease-in;
}

form input.send:hover {
  background-color: #8ECBD8;
}


/*footer*/

#footer {
  width: 100%;
  height: 100px;
  background-color: #1A2E40;
}

.footer_wrap {
  width: 100%;
}

.f_logo {
  display: inline-block;
  line-height: 100px;
  margin-right: 2%;
}

.f_logo img {
  max-width: 70%;
  transition: all 1s ease-in-out;
}

.f_logo img:hover {
  transform: rotate(360deg);
}

.w_paper_k,
.w_paper_e {
  background-color: #6696AB;
  border-radius: 8px;
  padding: 10px 5px;
  text-align: center;
  transition: all 0.3s ease-in;
}

.w_paper_k a,
.w_paper_e a {
  text-decoration: none;
  display: block;
  color: #fff;
}

.w_paper_k span img,
.w_paper_e span img {
  max-width: 20%;
}

.w_paper_k {
  display: inline-block;
  margin-right: 1%;
}

.w_paper_k:hover,
.w_paper_e:hover {
  background-color: #8ECBD8;
}

.w_paper_e {
  display: inline-block;
}

.sns {
  float: right;
  line-height: 100px;
  color: #fff;
}

.sns span a img {
  max-width: 30%;
  transition: all 0.6s;
}

.sns span a img:hover {
  transform: scale(1.2) rotate(-15deg);
}